@import url("reset.css");

html {
    background-color: #ffffff;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#headerwrap {
    width: 100%;
    margin-left: 120px;
}

#header {
    height: 120px;
    background-image: url("../img/amanox.png");
    background-repeat: no-repeat;
}

#navigationwrap {
    height: 35px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 7px;
    background: #4d6878;
}

#navigation{
    margin-left: 100px;
    padding-top: 10px;
}

#navigation a{
    color: #ffffff;
    text-decoration: none;
}

#navigation a:hover {
    text-decoration:underline;
    color: #f4eee7;
}

#breadcrumb{
    color: white;
}


#contentwrap {
    margin-left: 100px;
    width: 100%;
    float: left;
}

#content {
    width: 1180px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

#nav {
    width: 180px;
    background-color: #ffffff;
    float:left;
}

button#form{
    border-color: #f4eee7;
    width: 890px;
    background-color: #f4eee7;
    border-style: outset;
    border-radius: 5px;
    margin-right: 100px;
}

#form{
    padding: 10px;
}

.btn-menue{
    margin-bottom: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border-color: #CEC1B4;
    background-color: #CEC1B4;
}

.btn-menue-act {
    margin-bottom: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border-color: #f4eee7;
    background-color: #f4eee7;
}

p {
    padding: 10px;
}

h1 {
    color: #000000;
    font-size: 14px;
    font-family: Verdana;
    margin-bottom: 20px;
    text-align: left;
}

#show{
    background-color: #D4CABD;
    border-radius: 5px;
    padding: 10px;
    width: 1080px;
}

.btn-menue a{
    font-size: 12px;
    text-decoration: none;
    color: #262626;
    font-family: Verdana;
}

.btn-menue a:hover{
    color: #4d6878;
}

.btn-menue-act a{
    font-size: 12px;
    text-decoration: none;
    color: #262626;
    font-family: Verdana;
}

.btn-menue-act a:hover{
    color: #4d6878;
}

.btn{
    float: right;
    height: 26px;
    margin-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
    border: outset;
    border-radius: 5px;
    background-color: #CEC1B4;
    border-color: #CEC1B4;
    font-size: 11px;
    border-width: 2px;
}

label {
    font-size: 12px;
}
input {
    font-size: 12px;
    border-color: #CEC1B4;
    border-style: solid;
    border-width: 1px;
}

td.col1, td.col3{
    width: 160px;
    height: 22px;
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
}

td.col2, td.col4 {
    width: 285px;
    height: 22px;
    vertical-align: top;
    text-align: left;
    padding-right: 5px;
}

textarea{
    width: 270px;
    text-align: left;
    border-color: #CEC1B4;
    border-style: solid;
    border-width: 1px;
}

.error{
    color: red;
    font-weight: bold;
}

select{

}

/*Buttons Home*/

td.colleft{
    text-align: right;
}

td.colright{
    text-align: left;
}

.btn-main{
    width: 220px;
    height: 100px;
    border-radius: 5px;
    border: outset;
    border-color: #f4eee7;
    background-color: #f4eee7;
    margin: 4px;
}

#main{
    width: 1080px;
    height: auto;
}

.btn-main a{
    font-size: 13px;
    font-family: Verdana;
    text-decoration: none;
    color: #262626;

}










