@import url("reset.css");

html {
    background-color: #ffffff;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#headerwrap {
    width: auto;
    margin-left: 120px;
}

#header {
    height: 120px;
    background-image: url("../img/amanox.png");
    background-repeat: no-repeat;
}

#navigationwrap {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 8px;
    background: #4d6878;
}

#navigation{
    margin-left: 100px;
}

#contentwrap {
    margin-left: 100px;
    width: 100%;
    float: left;
}

#content {
    width: 1180px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

#nav {
    width: 180px;
    background-color: #ffffff;
    float:left;
}

button#form{
    border-color: #f4eee7;
    width: 890px;
    background-color: #f4eee7;
    border-style: outset;
    border-radius: 5px;
    margin-right: 100px;
}

#form{
    padding: 10px;
}

.btn-menue{
    margin-bottom: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border-color: #CEC1B4;
    background-color: #CEC1B4;
}

.btn-menue-act {
    margin-bottom: 5px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border-color: #f4eee7;
    background-color: #f4eee7;
}













p {
    padding: 10px;
}

h1 {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 20px;
    text-align: left;
}





#show{
    background-color: #D4CABD;
    border-radius: 5px;
    padding: 5px;
    width: 980px;
}

menu {
    font-size: 13px;
    color: #ffffff;
    margin-left: 80px;
    padding-top: 9px;
}
/*table, th, td {
    border-collapse: collapse;
    text-align: left;
    padding: 5px;
}

th {
    background-color: #000000;
    color: #fff;
    border: 1px solid #fff;
}

.ungerade td {
    background-color: #EFEBE5;
}

.gerade td {
    background-color: #D4CABD;
}*/





.btn-menue a{
    font-size: 12px;
    text-decoration: none;
    color: #262626;
    font-family: Verdana;
}

.btn-menue-act a{
    font-size: 12px;
    text-decoration: none;
    color: #262626;
    font-family: Verdana;
}

.btn{
    float: right;
    height: 26px;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
    border: outset;
    border-radius: 6px;
    background-color: #CEC1B4;
    border-color: #CEC1B4;
    font-size: 11px;
}

label {
    width: 150px;
    font-size: 12px;
}
input {
    width: 120px;
    font-size: 12px;
    border: 0.5px solid #000000;
}

td.col1, td.col4{
    width: 150px;
    height: 22px;
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
}

td.col2, td.col5 {
    width: 240px;
    height: 22px;
    vertical-align: top;
    text-align: right;
    padding-right: 5px;
}

td.col3, td.col6 {
    width: 140px;
    height: 22px;
    vertical-align: top;
    text-align: left;
    padding-right: 5px;
}

textarea{
    text-align: left;
    width: 228px;
}

.error{
    color: red;
    width: 130px;
    text-align: left;
}

select{
    width: 120px;
}

/*Buttons Home*/

.btn-main{
    text-align: center;
    width: 310px;
    height: 130px;
    margin: 8px;
    border-radius: 8px;
    border: outset;
    border-color: #f4eee7;
    background-color: #f4eee7;
}

#main{
    text-align: center;
    align-content: center;
    width: 980px;
}

.btn-main a{
    text-align: right;
    font-size: 16px;
    font-family: Verdana;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #262626;

}










